<div class="outer">
  <div class="container">
    <div class="row">
      <div
        class="offset-md-2 col-lg-5 col-md-7 offset-lg-4 offset-md-3 py-5 my-5 mx-auto"
      >
        <div class="panel border bg-white">
          <div class="panel-heading">
            <h3 class="pt-3 font-weight-bold">ورود</h3>
          </div>
          <div class="panel-body p-3">
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
              <div class="form-group pt-3">
                <div class="input-field" [class.error]="loginForm.controls['phoneNumber'].dirty && loginForm.hasError('required', 'phoneNumber')">
                  <span class="fa fa-user p-2"></span>
                  <input
                    formControlName="phoneNumber"
                    type="text"
                    placeholder="شماره همراه"
                  />
                </div>
              </div>
              <small
              class="text-danger"
              *ngIf=" loginForm.controls['phoneNumber'].dirty && loginForm.hasError('required', 'phoneNumber')">
              وارد کردن شماره همراه الزامی است!
            </small>
              <div class="form-group pt-3">
                <div class="input-field"
                [class.error]="loginForm.controls['password'].dirty && loginForm.hasError('required','password')">
                  <span class="fa fa-lock p-2"></span>
                  <input
                    formControlName="password"
                    [type]="type"
                    placeholder="رمز ورود"
                  />
                  <span
                    id="eye-fa"
                    (click)="onHideShowPass()"
                    class="fa {{ eyeIcon }}"
                  ></span>
                </div>
              </div>
              <small class="text-danger"
              *ngIf="loginForm.controls['password'].dirty && loginForm.hasError('required','password')">
              وارد کردن رمز ورود الزامی است
              </small>
              <div class="form-inline fr mt-4">
                <!-- <a id="forget" (click)="onForgetPassword()" class="font-weight-bold">فراموشی رمز؟</a> -->
              </div>
              <button
                type="submit"
                class="btn btn-primary btn-block mt-4 w-100">
                ورود
              </button>
              <div class="text-center mb-5 pt-4 extra-option">
                هنوز ثبت نام نکرده اید؟
                <a id="forget" [routerLink]="['/register']" class="font-weight-bold"
                  >ثبت نام</a
                >
              </div>
            </form>
          </div>
          <div class="mx-auto mt-2 py-2 bordert">
            <div class="text-center py-3 social-links">
              <a href="https://www.facebook.com" class="px-2">
                <i class="fab fa-facebook fa-2x"></i>
              </a>
              <a href="https://www.google.com" class="px-2">
                <i class="fab fa-google fa-2x"></i>
              </a>
              <a href="https://www.github.com" class="px-2">
                <i class="fab fa-github fa-2x"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
