.form-switch .form-check-input {
	margin-right: 0;
	margin-left: 10px;
}
.modal-body form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.modal-body label {
  font-weight: 600;
  margin-bottom: 5px;
  color: #333;
}

.modal-body input.form-control {
  border: 2px solid #ddd;
  border-radius: 8px;
  padding: 10px;
  font-size: 14px;
  transition: all 0.3s ease-in-out;
}

.modal-body input.form-control:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.3);
}

.text-danger {
  font-size: 12px;
  margin-top: -5px;
}

.modal-footer .btn {
  border-radius: 8px;
  font-weight: bold;
  padding: 8px 16px;
}

.modal-footer .btn-primary {
  background-color: #007bff;
  border: none;
  transition:  0.3s;
}

.modal-footer .btn-primary:hover {
  background-color: #0056b3;
}

.modal-footer .btn-warning {
  background-color: #ffc107;
  border: none;
  transition: 0.3s;
}

.modal-footer .btn-warning:hover {
  background-color: #e0a800;
}

.form-check {
  background: #f8f9fa;
  padding: 8px;
  border-radius: 8px;
}

.form-check label {
  font-weight: 500;
}

